.CreateTestCase {
  float: right;
  padding: 10px;
}

.button {
  background-color: #1565c0 !important;
  border-radius: 3px;
  border: none;
  color: #fff;
}

.button:hover {
  background-color: dodgerblue !important;
}

.createbtn:hover {
  color: #fff;
  background-color: dodgerblue !important;
}

.tabalign {
  text-align: center;
}
